.container-b{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 40px;
}

.container-b1{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: fit-content;
  }

.button_habi {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
  }
