/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
}

/* Contenedor para centrar el botón */
.container {
    flex: 1; /* Ocupa el espacio restante */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.button {
    background-color: black; /* Color de fondo azul */
    color: #fff; /* Texto blanco */
    padding: 12px 24px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 600; /* Grosor de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: all 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    outline: none; /* Quita el borde de enfoque predeterminado */
}

.button:hover {
    background-color: green; /* Color de fondo más oscuro al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de levantar el botón */
}

.button:active {
    background-color: #004080; /* Color de fondo al hacer clic */
    transform: translateY(0); /* Vuelve a su posición original */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

.button:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Efecto de enfoque con sombra */
}

.logo-img {
    width: 60px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}